nft-ticketize/
graph-node/
nfticketize-graph/

scaffold-eth/
sign-typed-data/
Slike za dokumentaciju/
"Ideje za ticketize.txt"
"Primeri.txt"
NNfticketizegraph/

#.history folder
NFTicketize/.history



nft-ticketize-old/