nft-ticketize/
graph-node/
nfticketize-graph/

scaffold-eth/
sign-typed-data/
Slike za dokumentaciju/
"Ideje za ticketize.txt"
"Primeri.txt"
NNfticketizegraph/

#.history folder
NFTicketize/.history
Nfticketizegraph/
Ideje za ticketize.txt
Primeri.txt
NFTicketize/client/src/const.js
NFTicketize/truffle-config.js
NFTicketizeTheGraph/truffle-config.js
NFTicketize/client/functions/serviceAccountKey.json
